.landing {
    #landing-login{
        display: flex;
        flex-direction: row;
    }

    #login-image{
        width: 60%;
    }
}



.landing-copy-section{
    display: flex;
    flex-direction: column;
    font-weight: normal;
    width: 100%;

    .landing-copy{
        margin: 35% 10% 15% 10%;
    }

    h1 {
        font-size: 2.5em;
        font-weight: 300;
    }
    ul {
        list-style: none;
        line-height: 175%;
        margin-left:0 ;
        padding-left: 10px;
      }
      
      ul li:before {
        content: '✓';
      }

      button {
        height: 45px;
        width: 150px;
        font-size: 1em;
        border-radius: 20px;
        margin: 10px;
        background-color: $button-red;
        color: white;
        border: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out; /* Add transition effect */
      }
      
      /* Change the background color of the button on hover */
      button:hover {
        background-color: #D43932;
      }
      
      /* Add a shadow to the button on hover */
      button:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add a slightly larger shadow on active */
      button:active {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transform: translateY(2px);
      }
      
      
}
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// height: 80vh;
// width: 80%;
// margin: 20% 10%;
// background-color: rgb(111, 91, 91);
// border-radius: 10px;
