#dash-container {
  display: flex;
  flex-direction: column;


#dash-body {
  display: flex;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

iframe {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
}