.landing {
    #landing-top{
        margin: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #login-image{
      margin-top: 40px;
      width: auto;
    }

    @media screen and (max-width: 1020px) {
      #login-image {
        display: none;
      }
    }
}

#landing-body {
  max-width: 960px;
  margin: 0 auto; /* centers the content horizontally within the page */
}

.landing-call{
    display: flex;
    flex-direction: column;
    font-weight: normal;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding-left: 0px;

    .landing-copy{
        margin: 35% 10% 15% 0%;
    }

    h1 {
        font-size: 2.5em;
        font-weight: 300;
    }
    ul {
        list-style: none;
        line-height: 175%;
        margin-left:0 ;
        padding-left: 10px;
      }
      
      ul li:before {
        content: '✓';
      }

      button {
        height: 45px;
        width: 150px;
        font-size: 1em;
        border-radius: 20px;
        margin: 10px;
        background-color: $button-red;
        color: white;
        border: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out; /* Add transition effect */
      }
      
      /* Change the background color of the button on hover */
      button:hover {
        background-color: #D43932;
      }
      
      /* Add a shadow to the button on hover */
      button:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }
      
      /* Add a slightly larger shadow on active */
      button:active {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transform: translateY(2px);
      }
      
      
}

#landingteam-header {
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
}

#landingteam-hr {
  width:50%;
  margin:0 auto;
}

.centered-container {
  margin-top: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.team-member {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 1rem;
  padding: 1rem;
  width: 250px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.team-member img {
  width: 200px; /* Set a fixed width */
  height: 200px; /* Set the same fixed height */
  border-radius: 50%;
  object-fit: cover; /* Maintain the aspect ratio */
}

.team-member h3 {
  margin-top: 1rem;
  margin-bottom: 0;
}

#tagline {
  font-size: 0px;
}

#headline {
  font-size: 15px;
  font-style: bold;
}

.landing-listelement {
  margin:5px;
}

#landingmain-header h1 {
  margin-left: 14px;
}



// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// height: 80vh;
// width: 80%;
// margin: 20% 10%;
// background-color: rgb(111, 91, 91);
// border-radius: 10px;
