.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Arial', sans-serif;
  height: 8vh;
  color: #000000;
  border: .25px solid rgb(229, 225, 225);
  background-color: rgba(255, 255, 255, 1);
  /* Set the position to fixed */
  position: fixed;
  /* Make sure the NavBar is at the top */
  top: 0;
  /* Set the width to cover the entire viewport width */
  width: 100%;
  /* Add a z-index to make sure the NavBar is above other elements */
  z-index: 1000;

  #left-nav{
    display: flex;
    justify-content: center;
    font-size: .8rem;
    

    img{
      width: 30px;
    }
  }

  .logo{
    display: flex;
    font-size: 1.5rem;

    #logo{
      height: 50px;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 5px;
    }

  }

  ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 18px 0;
  }

  li {
    padding: 0 1rem;
    text-decoration: none;
  }
  button {
    height: 30px;
    width: 120px;
    font-size: 1em;
    border-radius: 20px;
    margin: 10px;
    background-color: $button-red;
    color: white;
    border: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Add transition effect */
  }
  
  /* Change the background color of the button on hover */
  button:hover {
    background-color: #D43932;
  }
  
  /* Add a shadow to the button on hover */
  button:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add a slightly larger shadow on active */
  button:active {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: translateY(2px);
  }
  
}

