#splash-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: gray;
    color:rgb(203, 178, 178);
    width: 100%;
    height: 100%;

    #splash-title{
        display: flex;
        margin: 10% ;
        flex-direction: column;
        justify-content: center;
    h1 {
        font-size: 36px;
    }
    }
}

.splashleft {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 960px;
  .splashleftimg {
    width: 400px;
    height: 300px;
  }
}

#splash-info {
  display: flex;
  flex-direction: column;
}