
.onboard-page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 237, 237);
    height: 100%;
    width: 100%;
}
    .base-container {
        // width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        height: 60vh;
        border: 2px solid rgba(157, 157, 157, 0.174);
        background-color: rgb(226, 228, 232);
    }
        .header {
          font-size: 24px;
          font-family: "Open Sans", sans-serif;
          margin: 40px 0 20px 0;
        }
      
        .content {
          display: flex;
          flex-direction: column;
        }
          .image {
            width: 21em;
 
          }
          img {
            width: 100%;
            height: 100%;
          }
          .form {
            margin-top: 2em;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
            .form-group {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              width: fit-content;
            }
              label {
                font-size: 20px;
              }
              input {
                margin-top: 6px;
                min-width: 18em;
                height: 37px;
                padding: 0px 10px;
                font-size: 16px;
                font-family: "Open Sans", sans-serif;
                background-color: #f3f3f3;
                border: 0;
                border-radius: 4px;
                margin-bottom: 31px;
                transition: all 250ms ease-in-out;
              }
                /* &:hover {
                  //background-color: #ffffff;
                  //box-shadow: 0px 0px 14px 0.3px #0e81ce96;
                }
      
                &:focus {
                  outline: none;
                  box-shadow: 0px 0px 12px 0.8px #3474dbb2;
                } */
   
        .footer {
          margin-top: 3em;
        }
        .btn {
          height: 45px;
          width: 150px;
          font-size: 1em;
          border-radius: 10px;
          background-color: #3f71c0;
          color: white;
          border: transparent;
          transition: all 0.3s ease-in-out; /* Add transition effect */
        }
        
        /* Change the background color of the button on hover */
        .btn:hover {
          background-color: #355fa0;
        }
        
        /* Add a shadow to the button on hover */
        .btn:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        /* Add a slightly larger shadow on active */
        .btn:active {
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          transform: translateY(2px);
        }
        
    