#dash-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;

}
#dash-body {
  display: flex;
}

#body-nav{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}


.iframe {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}